body{
    background-color: rgb(255, 244, 244);
}

#page_wrapper{
    display: flex;
    margin: 13rem 30rem;
}

.icons{
    cursor: pointer;
    width: 30px;
    margin-top: 8rem;
}
#icons_1{
    margin-right: 1rem;
  
}
#icons_2 {
  
    margin-left: 1rem;
    
}

.img_box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid greenyellow;
}

#img_holder {
    border: 2px solid greenyellow;
}
.img{
    width: 450px;
    border-radius: 3rem;
}

